#jarak{
    margin-top: 80px;
}
#screen{
   margin: 10px;
}

#baris{
    margin-top: 1px;
}
#tombolkembali{
    margin: 30px;
    margin-top: 60px;
}
#tombolkirim{
    margin-left: 1000px;
    margin-top: 30px;
}